<header>
    <div class="self-container">
        <h1>Kipp Pc Pcs</h1>
    </div>
</header>


<div class="self-container">
    <div class="contact-info">
        <div class="info-box">
            <span>
                <img src="/assets/images/pin.png"/>
            </span>
            <p>2600 Virgina AVE NW, Suite 900,<br>
                Washington,<br>
                DC20037
            </p>
        </div>
        <div class="info-box">
            <span>
                <img src="/assets/images/phone-call.png" />
            </span>
            <a href="tel:123456789">
                123456789
            </a>
        </div>

        <div class="info-box">
            <span>
                <img src="/assets/images/world.png" />
            </span>
            <a href="#" class="color-text">
                https://www.google.com/
            </a>
        </div>

        <div class="info-box">
            <span>
                <img src="/assets/images/facebook.png" />
            </span>
            <a href="#" class="color-text">
                Facebook
            </a>
        </div>

        <div class="info-box">
            <span>
                <img src="/assets/images/twitter.png" />
            </span>
            <a href="#" class="color-text">
                Twitter
            </a>
        </div>
    </div>


    <div class="report-wrap">
        <div class="report-head">
            <h2>KIPP PC PCS - See All Schools Reports</h2>
        </div>

        <div class="repoet-select">
            <select>
                <option>
                    Select a Grade
                </option>
            </select>
            <select>
                <option>
                    Select a Ward
                </option>
            </select>
        </div>

        <div class="report-row">
            <div class="report-row-inner">
                <p>KIPP DC - Arts and Technology Academy</p>
                <div class="report-btn">
                    <button>Ward 7</button>
                    <button>Grades K-4</button>
                </div>
            </div>

            <div class="report-row-inner">
                <p>KIPP DC - Arts and Technology Academy</p>
                <div class="report-btn">
                    <button>Ward 7</button>
                    <button>Grades K-4</button>
                </div>
            </div>

            <div class="report-row-inner">
                <p>KIPP DC - Arts and Technology Academy</p>
                <div class="report-btn">
                    <button>Ward 7</button>
                    <button>Grades K-4</button>
                </div>
            </div>

            <div class="report-row-inner">
                <p>KIPP DC - Arts and Technology Academy</p>
                <div class="report-btn">
                    <button>Ward 7</button>
                    <button>Grades K-4</button>
                </div>
            </div>

            <div class="report-row-inner">
                <p>KIPP DC - Arts and Technology Academy</p>
                <div class="report-btn">
                    <button>Ward 7</button>
                    <button>Grades K-4</button>
                </div>
            </div>

            <div class="report-row-inner">
                <p>KIPP DC - Arts and Technology Academy</p>
                <div class="report-btn">
                    <button>Ward 7</button>
                    <button>Grades K-4</button>
                </div>
            </div>
        </div>
    </div>
</div>

