<header>
  <div class="self-container">
    <h1>Kipp Pc Connect Academy PCS</h1>
  </div>
</header>

<div class="self-container">
  <div class="academy-wrap">
    <div class="image-info">
      <div class="image-box">
        <img src="/assets/images/school.jpg" />
      </div>
      <div class="image-text">
        <h2>Message From the School</h2>
        <p>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum."
        </p>
      </div>
    </div>
  </div>

  <div class="profile-wrap">
    <div class="profile-title">
      <img src="/assets/images/id-card.png" />
      <h3>School Profile</h3>
    </div>

    <div class="profile-info">
      <div class="profile-info-inner">
        <div class="info-box">
          <span>
            <img src="/assets/images/pin.png" />
          </span>
          <p>
            2600 Virgina AVE NW, Suite 900,<br />
            Washington,<br />
            DC20037
          </p>
        </div>
        <div class="info-box">
          <span>
            <img src="/assets/images/phone-call.png" />
          </span>
          <a href="tel:123456789"> 123456789 </a>
        </div>

        <div class="info-box">
          <span>
            <img src="/assets/images/world.png" />
          </span>
          <a href="#" class="color-text"> https://www.google.com/ </a>
        </div>

        <div class="info-box">
          <span>
            <img src="/assets/images/facebook.png" />
          </span>
          <a href="#" class="color-text"> Facebook </a>
        </div>

        <div class="info-box">
          <span>
            <img src="/assets/images/twitter.png" />
          </span>
          <a href="#" class="color-text"> Twitter </a>
        </div>
      </div>
      <div class="profile-info-inner">
        <div class="profile-info-row">
          <span class="bold">Principal:</span>
          <span>Road</span>
        </div>
        <div class="profile-info-row">
          <span class="bold">Principal:</span>
          <span>Road</span>
        </div>
        <div class="profile-info-row">
          <span class="bold">Principal:</span>
          <span>Road</span>
        </div>
        <div class="profile-info-row">
          <span class="bold">Principal:</span>
          <span>Road</span>
        </div>
        <div class="profile-info-row">
          <span class="bold">Principal:</span>
          <span>Road</span>
        </div>
        <div class="profile-info-row">
          <span class="bold">Principal:</span>
          <span>Road</span>
        </div>
      </div>
      <div class="profile-info-inner">
        <div class="profile-info-row">
          <span class="bold">School International Hours</span>
        </div>

        <div class="profile-info-row flexmodaladd">
          <span class="bold">Monday</span>
          <span>08:00 AM - 04:00 PM</span>
        </div>
        <div class="profile-info-row flexmodaladd">
          <span class="bold">Tuesday</span>
          <span>08:00 AM - 04:00 PM</span>
        </div>
        <div class="profile-info-row flexmodaladd">
          <span class="bold">Wednesday</span>
          <span>08:00 AM - 04:00 PM</span>
        </div>
        <div class="profile-info-row flexmodaladd">
          <span class="bold">Thursday</span>
          <span>08:00 AM - 04:00 PM</span>
        </div>
        <div class="profile-info-row flexmodaladd">
          <span class="bold">Friday</span>
          <span>08:00 AM - 04:00 PM</span>
        </div>
        <div class="profile-info-row flexmodaladd">
          <span class="bold">Pro X 3</span>
          <span>11:00 AM - 04:00 PM</span>
        </div>
        <div class="profile-info-row flexmodaladd">
          <span class="bold">Pro X 3</span>
          <span>11:00 AM - 04:00 PM</span>
        </div>
        <div class="profile-info-row flexmodaladd">
          <span class="bold">Pro X 3</span>
          <span>11:00 AM - 04:00 PM</span>
        </div>

        <div class="profile-info-row">
          <span class="bold">Before School Cars:</span>
          <span>Yes</span>
        </div>
        <div class="profile-info-row">
          <span class="bold">After School Cars:</span>
          <span>No</span>
        </div>
      </div>
    </div>

    <div class="card-box">
      <h3>School Program</h3>
    </div>

    <div class="program-wrap profile-info">
      <div class="profile-info-inner">
        <p>School Program offer</p>
        <ul>
          <li>Learning</li>
          <li>Learning</li>
          <li>Learning</li>
          <li>Learning</li>
        </ul>
      </div>
      <div class="profile-info-inner">
        <p>School Program offer</p>
        <ul>
          <li>Learning</li>
          <li>Learning</li>
          <li>Learning</li>
          <li>Learning</li>
        </ul>
      </div>
    </div>

    <div class="card-box">
      <h3>Parent Orginazation Information</h3>
    </div>

    <div class="program-wrap parent-info">
      <div class="profile-info-inner">
        <div class="">
          <div class="profile-info-row">
            <span class="bold">Parent Orginazation</span>
            <span>Yes</span>
          </div>
          <div class="profile-info-row">
            <span class="bold">Parent Orginazation Link</span>
            <span>No</span>
          </div>
          <div class="profile-info-row">
            <span class="bold">Parent Communty Link</span>
            <span>
              <a href="#">Parent Orginazation Link</a>
            </span>
          </div>
        </div>
        <div class="">
          <div class="profile-info-row">
            <span class="bold">Parent Communty Link</span>
            <span>
              <a href="#">Parent Orginazation Link</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="drop-box">
    <select>
      <option>Materics</option>
      <option>Materics Two</option>
      <option>Materics Three</option>
      <option>Materics Four</option>
    </select>
  </div>

  <div class="profile-wrap">
    <div class="profile-title mb-0">
      <img src="/assets/images/id-card.png" />
      <h3>Student Enrollment</h3>
    </div>
    <p class="descrp">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum."
    </p>

    <div class="card-box bg-white">
      <a href="#">Explore Enrollment Data</a>
    </div>
    <div class="profile-info four-box">
      <div class="profile-info-inner">
        <div class="">
          <h4>Total Student Enrollment</h4>
          <h3>309</h3>
        </div>
      </div>
      <div class="profile-info-inner">
        <div class="">
          <h4>Total Student Enrollment</h4>
          <h3>90%</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
      <div class="profile-info-inner">
        <div class="">
          <h4>Total Student Enrollment</h4>
          <h3>50%</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut
          </p>
        </div>
      </div>
      <div class="profile-info-inner">
        <div class="">
          <h4>Total Student Enrollment</h4>
          <div class="">
            <p>
              <span>Pre K-3</span>
              <span>*</span>
            </p>
            <p>
              <span>1st Grade</span>
              <span>*</span>
            </p>
            <p>
              <span>2nd Grade</span>
              <span>*</span>
            </p>
            <p>
              <span>Pre K-3</span>
              <span>*</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-info two-box">
      <div class="profile-info-inner">
        <div class="">
          <h4>Enrollment by Student Group</h4>
          <h3>309</h3>
        </div>
      </div>
      <div class="profile-info-inner">
        <div class="">
          <h4>Enrollment by Race/Ethnicity</h4>
          <div class="">
            <p>
              <span>Pre K-3</span>
              <span>*</span>
            </p>
            <p>
              <span>1st Grade</span>
              <span>*</span>
            </p>
            <p>
              <span>2nd Grade</span>
              <span>*</span>
            </p>
            <p>
              <span>Pre K-3</span>
              <span>*</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
